                                    ## WEB SCRAPING â€“ ASSIGNMENT 4

#### v1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
#### b= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
#### Rank 
#### ) Name 
#### C) Artist 
#### D) Upload date 
#### E) Views

In [1]:
import pandas as pd

In [2]:
import selenium

In [3]:
from  selenium import webdriver

In [4]:
from selenium.webdriver.common.by import By

In [5]:
import time

In [6]:
from  selenium.webdriver.common.keys import Keys

In [7]:
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException

In [8]:
from webdriver_manager.chrome import ChromeDriverManager

In [9]:
driver=webdriver.Chrome()

In [15]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [26]:
vid_rank=[]
nam=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in nam:
    vid_rank.append(i.text)

In [30]:
vid_name=[]
name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in name:
    vid_name.append(i.text)

In [37]:
 vid_Artist=[]
art=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in art:
     vid_Artist.append(i.text)

In [40]:
vid_Views=[]
Views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
for i in Views:
    vid_Views.append(i.text)

In [48]:
Upload_date=[]
data=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
for i in data:
    Upload_date.append(i.text)

In [51]:
len(Upload_date),len(vid_Views),len(vid_Artist),len(vid_name),len(vid_rank)

(30, 30, 30, 30, 30)

In [48]:
import pandas as pd

In [53]:
most_views_video=pd.DataFrame({'vid_rank':vid_rank,'vid_name':vid_name,'vid_Artist':vid_Artist,'vid_Views':vid_Views,'Upload_date':Upload_date})

In [54]:
most_views_video

,vid_rank,vid_name,vid_Artist,vid_Views,Upload_date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.82,"October 8, 2016"
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.45,"May 2, 2018"
4,5.,"""Shape of You""[19]",Ed Sheeran,6.11,"January 30, 2017"
5,6.,"""See You Again""[22]",Wiz Khalifa,6.05,"April 6, 2015"
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.62,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.52,"March 6, 2014"
8,9.,"""Uptown Funk""[29]",Mark Ronson,5.05,"November 19, 2014"
9,10.,"""Learning Colors â€“ Colorful Eggs on a Farm""[30]",Miroshka TV,4.99,"February 27, 2018"
10,11.,"""Gangnam Style""[31]",officialpsy,4.92,"July 15, 2012"
11,12.,"""Masha and the Bear â€“ Recipe for Disaster""[36]",Get Movies,4.56,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,4.46,"April 5, 2018"
13,14.,"""Axel F""[38]",Crazy Frog,4.09,"June 16, 2009"
14,15.,"""Sugar""[39]",Maroon 5,3.95,"January 14, 2015"
15,16.,"""Counting Stars""[40]",OneRepublic,3.89,"May 31, 2013"
16,17.,"""Roar""[41]",Katy Perry,3.89,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.80,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.75,"June 4, 2010"
19,20.,"""Sorry""[44]",Justin Bieber,3.72,"October 22, 2015"
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.71,"June 14, 2018"
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.67,"October 7, 2014"
22,23.,"""Dark Horse""[47]",Katy Perry,3.60,"February 20, 2014"
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.58,"January 26, 2018"
24,25.,"""Perfect""[49]",Ed Sheeran,3.56,"November 9, 2017"
25,26.,"""Let Her Go""[50]",Passenger,3.53,"July 25, 2012"
26,27.,"""Faded""[51]",Alan Walker,3.53,"December 3, 2015"
27,28.,"""Girls Like You""[52]",Maroon 5,3.50,"May 31, 2018"
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,3.48,"May 10, 2011"
29,30.,"""Lean On""[54]",Major Lazer Official,3.48,"March 22, 2015"

In [ ]:
driver.close()

#### 2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv. 
#### Url = https://www.bcci.tv/. 
#### You need to find following details: 
#### A) Series 
#### B) Place 
#### C) Date 
#### D) Time 
#### Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [34]:
driver=webdriver.Chrome()

In [35]:
driver.get('https://www.bcci.tv/')

In [36]:
fixcher=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[1]/ul/div[1]/a[2]')
fixcher.click()

In [24]:
series=[]
ser=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in ser:
    try:
        ser
        series.append(i.text)
    except NoSuchElementExceptions:
            series.append('____')

In [41]:
place=[]
plac=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]/span[1]')
for i in plac:
    place.append(i.text)

In [45]:
match_date=[]
dte=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in dte:
    match_date.append(i.text)

In [49]:
match_time=[]
time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    match_time.append(i.text)

In [53]:
len(match_time),len(match_date),len(place),len(series)

(211, 211, 211, 211)

In [55]:
 India_international_fixtures=pd.DataFrame({'series':series,'place':place,'match_date':match_date,'match_time':match_time})

In [56]:
India_international_fixtures

,series,place,match_date,match_time
0,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium,","19 OCTOBER, 2023",2:00 PM IST
1,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium,","22 OCTOBER, 2023",2:00 PM IST
2,ICC MENS WORLD CUP 2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,"29 OCTOBER, 2023",2:00 PM IST
3,ICC MENS WORLD CUP 2023,"Wankhede Stadium,","2 NOVEMBER, 2023",2:00 PM IST
4,ICC MENS WORLD CUP 2023,"Eden Gardens,","5 NOVEMBER, 2023",2:00 PM IST
...,...,...,...,...
206,ASIA CUP 2022,"Dubai International Cricket Stadium,","6 SEPTEMBER, 2022",7:30 PM IST
207,ASIA CUP 2022,"Dubai International Cricket Stadium,","4 SEPTEMBER, 2022",7:30 PM IST
208,NEW ZEALAND A TOUR OF INDIA,"M.Chinnaswamy Stadium,","1 SEPTEMBER, 2022",9:30 AM IST
209,ASIA CUP 2022,"Dubai International Cricket Stadium,","31 AUGUST, 2022",7:30 PM IST
210,ASIA CUP 2022,"Dubai International Cricket Stadium,","28 AUGUST, 2022",7:30 PM IST

In [58]:
driver.close()

#### 3. Scrape the details of State-wise GDP of India from statisticstime.com. 
#### Url = http://statisticstimes.com/ 
#### You have to find following details: A) Rank 
#### B) State 
#### C) GSDP(18-19)- at current prices 
#### D) GSDP(19-20)- at current prices 
#### E) Share(18-19) 
#### F) GDP($ billion) 
#### Note: - From statisticstimes home page you have to reach to economy page through code.

In [7]:
driver=webdriver.Chrome()

In [8]:
driver.get('https://statisticstimes.com/index.php')

In [16]:
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

In [19]:
GDPI = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDPI.click()
time.sleep(3)

In [20]:
Rank = []
State = []
GSDP18 = []
GSDP19 = []
Share = []
GDP_billion = []

In [24]:
r= driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]")

In [27]:
try:
    for i in r:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('___')

In [33]:
stat=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]")
try:
    for i in stat:
        State.append(i.text)
except NoSuchElementException:
        State.append('__')

In [35]:
gdp1=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]")
try:
    for i in gdp1:
        GSDP18.append(i.text)
except NoSuchElementException:
    GSDP18.append(i.text)

In [41]:
gdp2=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]")
try:
    for i in gdp2:
        GSDP19.append(i.text)
except NoSuchElementException:
    GSDP19.append('__')

In [43]:
part=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]")
try:
    for i in part:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('__')

In [45]:
GDPB=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]")
try:
    for i in GDPB:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append('__')

In [47]:
len(GDP_billion),len(Share),len(GSDP19),len(GSDP18),len(State),len(Rank)

(66, 66, 66, 66, 66, 66)

In [49]:
GDP_of_INDIA=pd.DataFrame({'Rank':Rank,'State':State,'GSDP18':GSDP18,'GSDP19':GSDP19,'Share':Share,'GDP_billion':GDP_billion})

In [50]:
GDP_of_INDIA

   Rank                      State     GSDP18     GSDP19   Share GDP_billion
0     1                Maharashtra          -  2,632,792  13.94%     399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%     247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%     240.726
3     4                    Gujarat          -  1,502,899   7.96%     228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%     226.806
..  ...                        ...        ...        ...     ...         ...
61   29                     Sikkim     28,391     25,141   0.15%      17,060
62   30                   Nagaland          -     24,534   0.15%           -
63   31          Arunachal Pradesh          -     22,488   0.13%           -
64   32                    Mizoram     24,424     20,947   0.13%      17,797
65   33  Andaman & Nicobar Islands          -          -       -           -

[66 rows x 6 columns]

In [10]:
driver.close()

#### 4. Scrape the details of trending repositories on Github.com. 
#### Url = https://github.com/ 
#### You have to find the following details: 
#### A) Repository title 
#### B) Repository description 
#### C) Contributors count 
#### D) Language used

In [11]:
driver=webdriver.Chrome()

In [12]:
driver.get(' https://github.com/')

In [16]:
open_sourse=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_sourse.click()
time.sleep(3)

trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()
time.sleep(3)

In [28]:
Repository_url=[]
title=driver.find_elements(By.XPATH,'//a[@class="Link"]')
try:
    for i in title:
        Repository_url.append(i.get_attribute('href'))
except NoSuchElementException:
    Repository_url.append('___')

In [36]:
Repository_title=[]
for i in Repository_url:
    driver.get(i)
    time.sleep(4)
    try:
        titl=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/div/div[1]/div[1]/div/strong/a')
        Repository_title.append(titl.text)
    except NoSuchElementException:
        Repository_title.append('__')

In [43]:
Repository_description=[]
Contributors_count=[]
Language_used=[]    
for i in Repository_url:
    driver.get(i)
    time.sleep(5)
    try:
        desc=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[1]/div/p')
        Repository_description.append(desc.text)
    except NoSuchElementException:
        Repository_description.append('__')
    try:
        count=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[3]/div/h2/a/span')
        Contributors_count.append(count.text)
    except NoSuchElementException:
        Contributors_count.append('__')
    try:
        lng=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[5]/div/ul/li[1]/a/span[1]')
        Language_used.append(lng.text)
    except NoSuchElementException:
        Language_used.append('__')

In [49]:
len(Repository_description),len(Contributors_count),len(Language_used),len(Repository_title)

(25, 25, 25, 25)

In [52]:
gitHuB_trendin=pd.DataFrame({'Repository_title':Repository_title,'Repository_description':Repository_description,'Contributors_count':Contributors_count,'Language_used':Language_used})

In [53]:
gitHuB_trendin

,Repository_title,Repository_description,Contributors_count,Language_used
0,ChatGPT-AutoExpert,ðŸš€ðŸ§ ðŸ’¬ Supercharged Custom Instructions for ChatG...,__,__
1,PokemonRedExperiments,Playing Pokemon Red with Reinforcement Learning,,__
2,LazyVim,Neovim config for the lazy,4,Lua
3,tact-challenge,__,,__
4,pi-hole,A black hole for Internet advertisements,__,__
5,Python,All Algorithms implemented in Python,__,__
6,text-embeddings-inference,A blazing fast inference solution for text emb...,1,Rust
7,awesome-selfhosted,A list of Free Software network services and w...,,__
8,uBlock,uBlock Origin - An efficient blocker for Chrom...,,JavaScript
9,project-based-learning,Curated list of project-based tutorials,,__
10,travel_ui_ux,Build and Deploy a Fully Responsive Modern UI/...,__,__
11,cal.com,Scheduling infrastructure for absolutely every...,966,TypeScript
12,kickstart.nvim,A launch point for your personal nvim configur...,,__
13,Hyprland,Hyprland is a highly customizable dynamic tili...,__,__
14,formbricks,Open Source Surveys & Experience Management So...,__,TypeScript
15,snowden-archive,ðŸ’¥ A collection of all documents leaked by form...,,__
16,Sunshine,Self-hosted game stream host for Moonlight.,__,__
17,docker-roadmap,__,,JavaScript
18,leetcode,ðŸ”¥LeetCode solutions in any programming languag...,__,__
19,4DGaussians,4D Gaussian Splatting for Real-Time Dynamic Sc...,,__
20,Magisk,The Magic Mask for Android,13,C++
21,czkawka,"Multi functional app to find duplicates, empty...",__,__
22,nodejs.org,The Node.jsÂ® Website,,__
23,MetaGPT,ðŸŒŸ The Multi-Agent Framework: Given one line Re...,,__
24,Cataclysm-DDA,Cataclysm - Dark Days Ahead. A turn-based surv...,13,C++

In [54]:
driver.close()

#### 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
#### following details: 
#### A) Song name 
#### B) Artist name 
#### C) Last week rank 
#### D) Peak rank 
#### E) Weeks on board 
#### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [29]:
driver=webdriver.Chrome()

In [30]:
driver.get('https://www.billboard.com/')

In [31]:
top=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[4]/a')
top.click()

In [14]:
current_rank=[]
no=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
try:
    for i in no:
        current_rank.append(i.text)
except NoSuchElementException:
    current_rank.append('__')

In [25]:
Artist_name=[]
art=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')
try:
    for i in art:
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append('____')

In [32]:
Last_week_rank=[]
lwr=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')    
try:
    for i in lwr:
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append('____')

In [36]:
Peak_rank=[]
pr=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')
try:
    for i in pr:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('__')

In [39]:
Weeks_on_board=[]
wob=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]')
try:
    for i in wob:
        Weeks_on_board.append(i.text)
except NoSuchElementException:
    Weeks_on_board.append('___')

In [42]:
len(Weeks_on_board),len(Peak_rank),len(Last_week_rank),len(Artist_name),len(song_name),

(100, 100, 100, 100, 100)

In [43]:
top_100_song=pd.DataFrame({'song_name':song_name,'Artist_name':Artist_name,'Last_week_rank':Last_week_rank,'Peak_rank':Peak_rank
                          ,'Weeks_on_board':Weeks_on_board})

In [44]:
top_100_song

,song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,First Person Shooter,Drake Featuring J. Cole,-,1,1
1,IDGAF,Drake Featuring Yeat,-,2,1
2,Virginia Beach,Drake,-,3,1
3,Paint The Town Red,Doja Cat,1,1,10
4,Calling For You,Drake Featuring 21 Savage,-,5,1
...,...,...,...,...,...
95,God Gave Me A Girl,Russell Dickerson,90,90,2
96,Y Lloro,Junior H,-,97,1
97,Telekinesis,Travis Scott Featuring SZA & Future,72,26,11
98,Seven,Jung Kook Featuring Latto,57,1,13
99,Stars Like Confetti,Dustin Lynch,89,89,2

In [45]:
driver.close()

#### 6. Scrape the details of Highest selling novels. 
#### A) Book name 
#### B) Author name 
#### C) Volumes sold 
#### D) Publisher 
#### E) Genre 
#### Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [9]:
driver=webdriver.Chrome()

In [10]:
driver.get(' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [12]:
Book_name=[]
book_n=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
try:
    for i in book_n:
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append('__')

In [19]:
Author_name=[]
author_n=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')  
try:
    for i in author_n:
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append('___')

In [23]:
Volumes_sold=[]
volume=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
try:
    for i in volume:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('___')

In [26]:
Publisher=[]
public=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]') 
try:
    for i in public:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('____')

In [29]:
Genre=[]
type_=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
try:
    for i in type_:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('____')

In [33]:
len(Genre),len(Book_name),len(Author_name),len(Volumes_sold),len(Publisher)

(100, 100, 100, 100, 100)

In [35]:
highest_selling_novels=pd.DataFrame({'Book_name':Book_name,'Author_name':Author_name,'Volumes_sold':Volumes_sold
                                     ,'Publisher':Publisher,'Genre':Genre})

In [36]:
highest_selling_novels

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [37]:
driver.close()

#### 7. Scrape the details most watched tv series of all time from imdb.com. 
#### Url = https://www.imdb.com/list/ls095964455/ You have 
#### to find the following details: 
#### A) Name 
#### B) Year span 
#### C) Genre 
#### D) Run time 
#### E) Ratings 
#### F) Votes

In [10]:
driver=webdriver.Chrome()

In [11]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [12]:
series_name=[]
se_name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
try:
    for i in se_name:
        series_name.append(i.text)
except NoSuchElementException:
    series_name.append('____')

In [15]:
Year_span=[]
span=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
try:
    for i in span:
        Year_span.append(i.text)
except NoSuchElementException:
    Year_span.append('____')

In [18]:
Genre_of_series=[]
gos=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
try:
    for i in gos:
        Genre_of_series.append(i.text)
except NoSuchElementException:
    Genre_of_series.append('____')

In [22]:
Run_time=[]
run=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[3]')
try:
    for i in run:
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append('____')

In [26]:
series_Ratings=[]
ser=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
try:
    for i in ser:
        series_Ratings.append(i.text)
except NoSuchElementException:
    series_Ratings.append('____')

In [30]:
Votes=[]
vot=driver.find_elements(By.XPATH,'//span[@name="nv"]')
try:
    for i in vot:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('____')

In [33]:
len(series_name),len(Year_span),len(Genre_of_series),len(Run_time),len(series_Ratings),len(Votes)

(100, 100, 100, 100, 100, 100)

In [38]:
most_watched_tv_series=pd.DataFrame({'series_name':series_name,'Year_span':Year_span,'Genre_of_series':Genre_of_series,'Run_time':Run_time,'series_Ratings':series_Ratings,'Votes':Votes})

In [39]:
most_watched_tv_series

,series_name,Year_span,Genre_of_series,Run_time,series_Ratings,Votes
0,Game of Thrones,(2011â€“2019),(2011â€“2019),57 min,9.2,"2,213,469"
1,Stranger Things,(2016â€“2025),(2016â€“2025),51 min,8.7,"1,283,253"
2,The Walking Dead,(2010â€“2022),(2010â€“2022),44 min,8.1,"1,050,371"
3,13 Reasons Why,(2017â€“2020),(2017â€“2020),60 min,7.5,"308,626"
4,The 100,(2014â€“2020),(2014â€“2020),43 min,7.6,"267,560"
...,...,...,...,...,...,...
95,Reign,(2013â€“2017),(2013â€“2017),42 min,7.5,"52,956"
96,A Series of Unfortunate Events,(2017â€“2019),(2017â€“2019),50 min,7.8,"65,028"
97,Criminal Minds,(2005â€“ ),(2005â€“ ),42 min,8.1,"211,922"
98,Scream: The TV Series,(2015â€“2019),(2015â€“2019),45 min,7,"44,107"
99,The Haunting of Hill House,(2018),(2018),572 min,8.6,"270,056"

In [40]:
driver.close()

#### 8. Details of Datasets from UCI machine learning repositories. 
#### Url = https://archive.ics.uci.edu/ You 
#### have to find the following details: 
#### A) Dataset name 
#### B) Data type 
#### C) Task 
#### D) Attribute type 
#### E) No of instances 
#### F) No of attribute G) Year 
#### Note: - from the home page you have to go to the Show All Dataset page through code.

In [11]:
driver=webdriver.Chrome()

In [12]:
driver.get('https://archive.ics.uci.edu/ YouÂ¶')

In [13]:
datasets=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
datasets.click()

In [15]:
rowspp=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select')
rowspp.click()
time.sleep(3)
option25=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select/option[5]')
option25.click()
time.sleep(2)

In [16]:
exp_all=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
exp_all.click()

In [18]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [19]:
dataset_n=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')
start=0
end=26
try:
    for page in range(start,end):
        for i in dataset_n:
            Dataset_name.append(i.text)
except NoSuchElementException:
    Dataset_name.append('____')
    next_=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_.click()
    time.sleep(5)

In [23]:
dataset_t=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
start=0
end=26
try:
    for page in range(start,end):
        for i in dataset_t:
            Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append('___')
    next_=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_.click()
    time.sleep(5)

In [24]:
dataset_ta=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
start=0
end=26
try:
    for page in range(start,end):
        for i in dataset_ta:
            Task.append(i.text)
except NoSuchElementException:
    Task.append('___')
    next_=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_.click()
    time.sleep(5)

In [25]:
dataset_at=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
start=0
end=26
try:
    for page in range(start,end):
        for i in dataset_at:
            Attribute_type.append(i.text)
except NoSuchElementException:
    Attribute_type.append('___')
    next_=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_.click()
    time.sleep(5)

In [26]:
dataset_noi=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
start=0
end=26
try:
    for page in range(start,end):
        for i in dataset_noi:
            No_of_instances.append(i.text)
except NoSuchElementException:
    No_of_instances.append('___')
    next_=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_.click()
    time.sleep(5)

In [27]:
dataset_noa=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
start=0
end=26
try:
    for page in range(start,end):
        for i in dataset_noa:
            No_of_attribute.append(i.text)
except NoSuchElementException:
    No_of_attribute.append('___')
    next_=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_.click()
    time.sleep(5)

In [28]:
dataset_Y=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
start=0
end=26
try:
    for page in range(start,end):
        for i in dataset_Y:
            Year.append(i.text)
except NoSuchElementException:
    Year.append('___')
    next_=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_.click()
    time.sleep(5)

In [29]:
len(Year),len(Data_type),len(Dataset_name),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attribute)

(650, 650, 650, 650, 650, 650, 650)

In [30]:
Uci_ML_repastory=pd.DataFrame({'Dataset_name':Dataset_name,'Data_type':Data_type,'Task':Task,'Attribute_type':Attribute_type,'No_of_instances':No_of_instances,'No_of_attribute':No_of_attribute,'Year':Year})

In [31]:
Uci_ML_repastory

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
3,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
...,...,...,...,...,...,...,...
645,Student Performance,Multivariate,"Classification, Regression",Integer,649 Instances,33 Features,11/27/2014
646,Thyroid Disease,"Multivariate, Domain-Theory",Classification,"Categorical, Real",7.2K Instances,5 Features,1/1/1987
647,Spambase,Multivariate,Classification,"Integer, Real",4.6K Instances,57 Features,7/1/1999
648,Predict students' dropout and academic success,Tabular,Classification,N/A,4.42K Instances,36 Features,12/13/2021
649,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering","Integer, Real",541.91K Instances,8 Features,11/6/2015