In [84]:
!pip install --upgrade selenium

Requirement already satisfied: selenium in c:\users\garbi\anaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: trio~=0.17 in c:\users\garbi\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\garbi\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\garbi\anaconda3\lib\site-packages (from selenium) (0.10.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\garbi\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: idna in c:\users\garbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\garbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\garbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\garbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: attrs>=20.1.0 in c:\users\garbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\garbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\garbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\garbi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\garbi\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\garbi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\garbi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium

In [3]:
import pandas as pd

In [4]:
from selenium import webdriver

In [5]:
import warnings 
warnings.filterwarnings('ignore')

In [6]:
from selenium.webdriver.common.by import By

In [7]:
import time

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
#### have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
#### jobs data.
#### This task will be done in following steps:
#### 1. First get the webpage https://www.shine.com/
#### 2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
#### 3. Then click the searchbutton.
#### 4. Then scrape the data for the first 10 jobs results you get.
#### 5. Finally create a dataframe of the scraped data.
#### Note: All of the above steps have to be done in code. No step is to be done manually.

In [52]:
driver=webdriver.Chrome()

In [11]:
driver.get(' https://www.shine.com/')

In [19]:
post=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
post.send_keys('Data Analyst')

In [16]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [17]:
exp=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[3]/div/input[1]')
exp.send_keys('1 Yrs')

In [32]:
serch=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
serch.click()

In [44]:
job_title=[]

In [35]:
company_name=[]

In [37]:
job_location=[]

In [38]:
experience_required=[]

In [41]:
job_t=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')

In [45]:
for i in job_t[0:10]:
    a=i.text
    job_title.append(a)

In [47]:
company=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

In [48]:
for i in company[0:10]:
    b=i.text
    company_name.append(b)

In [51]:
experience=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

In [53]:
for i in experience[0:10]:
    c=i.text
    experience_required.append(c)

In [55]:
gps=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

In [56]:
for i in gps[0:10]:
    d=i.text
    job_location.append(d)

In [59]:
jobs_of_data_anlyst=pd.DataFrame({'job_title':job_title,'company_name':company_name,'experience_required':experience_required,'job_location':job_location})

In [60]:
jobs_of_data_anlyst

,job_title,company_name,experience_required,job_location
0,Senior Data Analyst,harjai computers private limited,0 to 2 Yrs,Bangalore\n+8
1,Hiring For Data Analyst,harjai computers private limited,2 to 5 Yrs,Bangalore\n+8
2,Data Analyst,true caller,3 to 5 Yrs,Bangalore
3,Clinical Data Analyst,quiscon biotech,0 to 2 Yrs,Bangalore\n+4
4,Mobility Data Analyst - IN/MKR,bosch group,4 to 6 Yrs,Bangalore
5,Senior Data Analyst,true caller,5 to 7 Yrs,Bangalore
6,Data Analyst,rama technical consultants,11 to 21 Yrs,Bangalore\n+13
7,Data Analyst - Java/Python,boyen haddin consulting and technol...,3 to 6 Yrs,Bangalore
8,"Business Data Analyst, GlowRoad",amazon,1 to 3 Yrs,Bangalore
9,Project Coordinator (Data Analyst),futures and careers,2 to 4 Yrs,Bangalore

#### Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
#### ave to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
#### his task will be done in following steps:
#### 1. First get the webpage https://www.shine.com/
#### 2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
#### 3. Then click the search button.
#### 4. Then scrape the data for the first 10 jobs results you get.
#### 5. Finally create a dataframe of the scraped data.
#### Note: All of the above steps have to be done in code. No step is to be done manually.

In [25]:
driver.get(' https://www.shine.com/')

In [29]:
dpost=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
dpost.send_keys('Data Scientist')

In [30]:
dlocation=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
dlocation.send_keys('Bangalore')

In [31]:
dserch=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
dserch.click()

In [33]:
 job_title1=[]

In [34]:
company_name1=[]

In [49]:
job_location1=[]

In [36]:
experience_required1=[]

In [37]:
job_post_1=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')

In [38]:
for i in job_post_1[0:10]:
    e=i.text
    job_title1.append(e)

In [40]:
com=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

In [41]:
for i in com[0:10]:
    f=i.text
    company_name1.append(f)

In [51]:
location=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

In [52]:
for i in location[0:10]:
    g=i.text
    job_location1.append(g)

In [58]:
expre=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

In [59]:
for i in expre[0:10]:
    h=i.text
    experience_required1.append(h)

In [63]:
job_for_Data_Scientist=pd.DataFrame({'job_title1':job_title1,'company_name1':company_name1,'job_location1':job_location1,'experience_required1':experience_required1})

In [64]:
job_for_Data_Scientist

,job_title1,company_name1,job_location1,experience_required1
0,Data Scientist,the fashion cosmo,Bangalore,0 to 4 Yrs
1,SR. DATA SCIENTIST,te connectivity india pvt ltd,Bangalore,5 to 7 Yrs
2,Senior Data Scientist- ML Engineer,sap india pvt ltd,Bangalore,5 to 7 Yrs
3,Data Scientist Hiring Fresher and Experience,kavya staffing solutions,Bangalore\n+17,0 to 4 Yrs
4,Data Scientist III,inmobi,Bangalore,7 to 9 Yrs
5,Data Scientist,quiscon biotech,Bangalore\n+6,0 to 1 Yr
6,"Senior Data Scientist, AWS",amazon,Bangalore,10 to 12 Yrs
7,Data Scientist Recruitment,kavya staffing solutions,Bangalore\n+17,0 to 4 Yrs
8,Hiring For Data Scientist,kavya staffing solutions,Bangalore\n+17,0 to 4 Yrs
9,Hiring For Data Scientist,kavya staffing solutions,Bangalore\n+17,0 to 4 Yrs

#### Q3: In this question you have to scrape data using the filters available on the webpage 
 #### You have to use the location and salary filter.
#### You have to scrape data for “Data Scientist” designation for first 10 job results.
#### ou have to scrape the job-title, job-location, company name, experience required.
#### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
#### The task will be done as shown in the below steps:
#### 1. first get the web page https://www.shine.com/
#### 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
#### 3. Then click the search button.
#### 4. Then apply the location filter and salary filter by checking the respective boxes
#### 5. Then scrape the data for the first 10 jobs results you get.
#### 6. Finally create a dataframe of the scrapeddata.
#### Note: All of the above steps have to be done in code. No step is to be done manually.

In [20]:
driver.get(' https://www.shine.com/')

In [22]:
dpost=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
dpost.send_keys('Data Scientist')

In [25]:
dserch=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
dserch.click()

In [29]:
job_location=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
job_location.send_keys('Delhi')

In [95]:
locatin_click=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
locatin_click.click()

In [30]:
filter_click=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]')
filter_click.click()

In [33]:
show_result=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
show_result.click()

In [34]:
sallary_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
sallary_filter.send_keys('3 to 5 lakh')

In [35]:
filter_clicks=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label')
filter_clicks.click()

In [36]:
show_result=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
show_result.click()

In [37]:
 job_title2=[]

In [38]:
company_name2=[]

In [39]:
job_location2=[]

In [40]:
experience_required2=[]

In [41]:
job_post_2=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')

In [42]:
for i in job_post_2[0:10]:
    j=i.text
    job_title2.append(j)

In [43]:
comm=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

In [44]:
for i in comm[0:10]:
    k=i.text
    company_name2.append(k)

In [45]:
locasion=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

In [46]:
for i in locasion[0:10]:
    l=i.text
    job_location2.append(l)

In [47]:
expreq=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

In [48]:
for i in expreq[0:10]:
    m=i.text
    experience_required2.append(m)

In [49]:
job_Data_Scientist_filter=pd.DataFrame({'job_title2':job_title2,'company_name2':company_name2,'job_location2':job_location2,
                                        'experience_required2':experience_required2})

In [50]:
job_Data_Scientist_filter

,job_title2,company_name2,job_location2,experience_required2
0,Data Scientist,quiscon biotech,Delhi\n+6,0 to 1 Yr
1,DATA SCIENTIST DELHI,skyleaf consultants,Delhi,3 to 6 Yrs
2,Data Scientist,quiscon biotech,Delhi\n+6,0 to 3 Yrs
3,DATA SCIENTIST DELHI,skyleaf consultants,Delhi,3 to 6 Yrs
4,Technical Data Analyst,krishna consultancy.. hiring for co...,Delhi\n+9,4 to 9 Yrs
5,DATA SCIENTIST DELHI,skyleaf consultants,Delhi,3 to 6 Yrs
6,Senior Data Engineer,corporate steps..,Delhi\n+6,2 to 4 Yrs
7,Hiring For Data Analyst,harjai computers private limited,Delhi\n+8,2 to 5 Yrs
8,Senior Data Analyst,harjai computers private limited,Delhi\n+8,0 to 2 Yrs
9,for _GCP Data Engineer/Lead/Architect- Delhi,nina s hr consultancy,Delhi,2 to 3 Yrs

#### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#### 6. Brand
#### 7. ProductDescription
#### 8. Price
#### The attributes which you have to scrape is ticked marked in the below image.
#### To scrape the data you have to go through following steps:
#### 1. Go to Flipkart webpage by url :https://www.flipkart.com/
#### 2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
#### click the search icon
#### 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
#### required data as usual.

In [57]:
driver.get('https://www.flipkart.com/')

In [59]:
serch=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
serch.send_keys('sunglasses')

In [70]:
serchclick=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
serchclick.click()

In [98]:
 Brand=[]

In [72]:
ProductDescription=[]

In [73]:
Price=[]

In [137]:
Brandname=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [138]:
for i in Brandname[0:20]:
    o=i.text
    Brand.append(o)

In [139]:
len(Brand)                                   # first page 40 # second page 80 # third page 100

100

In [140]:
 ProductDsc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [141]:
for i in ProductDsc[0:20]:
    p=i.text
    ProductDescription.append(p)

In [142]:
len(ProductDescription)                        #  first page 38  # second page 78     # third page 98

98

In [143]:
PricE=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [144]:
for i in PricE[0:20]:
    q=i.text
    Price.append(q)

In [145]:
len(Price)                           #  first page 40  # second page 80   # third page 100

100

In [128]:
discount=[]

In [146]:
offer=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

In [147]:
for i in offer[0:20]:
    r=i.text
    discount.append(r)

In [148]:
len(discount)                           #  first page 40  # second page 80  # third page 100

100

In [135]:
next_p=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_p.click()

# not taking ProductDescription becose it have some missing value

In [151]:
_sunglass=pd.DataFrame({'Brand':Brand,'Price':Price,'discount':discount})

In [152]:
_sunglass

            Brand   Price discount
0   VINCENT CHASE    ₹549  57% off
1       ROYAL SON    ₹474  72% off
2        Fastrack    ₹649  66% off
3        Fastrack    ₹799  84% off
4        Fastrack    ₹499  40% off
..            ...     ...      ...
95         FOSSIL  ₹2,749  74% off
96          GUESS  ₹5,334  40% off
97          GUESS  ₹5,334  40% off
98      ROYAL SON    ₹449  70% off
99      ROYAL SON    ₹474  68% off

[100 rows x 3 columns]

#### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
#### https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
#### place=FLIPKART
#### As shown in the above page you have to scrape the tick marked attributes. These are:
#### 1. Rating
#### 2. Review summary
#### 3. Full review
#### 4. You have to scrape this data for first 100reviews.
#### Note: All the steps required during scraping should be done through code only and not manually.

In [153]:
driver=webdriver.Chrome()

In [159]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [155]:
Rating=[]

In [168]:
Review_summary=[]

In [158]:
Full_review=[]

In [275]:
star=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

In [276]:
for i in star:
    ab=i.text
    Rating.append(ab)

In [286]:
len(Rating)            # repiting it 10 times to get 100count

100

In [278]:
summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

In [279]:
for i in summary:
    ac=i.text
    Review_summary.append(ac)

In [280]:
len(Review_summary)                 # repiting it 10 times to get 100count

100

In [281]:
review= driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

In [282]:
for i in review:
    ad=i.text
    Full_review.append(ad)

In [283]:
len(Full_review)                        # repiting it 10 times to get 100count

100

In [274]:
nextpp=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
nextpp.click()

In [287]:
rewevews=pd.DataFrame({'Rating':Rating,'Review_summary':Review_summary,'Full_review':Full_review})

In [288]:
rewevews

,Rating,Review_summary,Full_review
0,5,Terrific,Very very good
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Best in the market!,Good Camera
3,5,Wonderful,This is amazing at all
4,5,Worth every penny,Feeling awesome after getting the delivery of ...
...,...,...,...
95,5,Awesome,Best iphone ever.. best value for money phone....
96,5,Really Nice,The products is good and but apple should give...
97,5,Mind-blowing purchase,This will help you more. See if you are planni...
98,5,Fabulous!,"The phone camera is ultimate even in night,\nB..."
99,5,Mind-blowing purchase,2nd iPhone after iPhone 6 and upgrade from Goo...

#### Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
#### search field.
#### You have to scrape 3 attributes of each sneaker:
#### 1. Brand
#### 2. ProductDescription
#### 3. Price
#### As shown in the below image, you have to scrape the above attributes.

In [9]:
driver=webdriver.Chrome()

In [10]:
driver.get('https://www.flipkart.com/')

In [11]:
serch=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
serch.send_keys('sneakers')

In [12]:
serchclick=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
serchclick.click()

In [13]:
assured_box=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[1]/div/div/div/section[3]/label/div[1]')
assured_box.click()

In [15]:
snekar_Brand=[]

In [18]:
snekar_price=[]

In [17]:
snekar_ProductDescription=[]

In [51]:
snekar_B=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [52]:
for i in snekar_B[0:20]:
    ba=i.text
    snekar_Brand.append(ba)

In [53]:
len(snekar_Brand)                                           # first page 40 # second page 80 # third page 100

100

In [54]:
snekar_p=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [55]:
for i in snekar_p[0:20]:
    bb=i.text
    snekar_price.append(bb)

In [56]:
len(snekar_price)                                             # first page 40 # second page 80 # third page 100

100

In [57]:
snekar_Pd=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [58]:
for i in snekar_Pd[0:20]:
    bc=i.text
    snekar_ProductDescription.append(bc)

In [62]:
len(snekar_ProductDescription)                              # first page 40 # second page 80 # third page 100

100

In [40]:
s_next_page=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div[2]/div[12]/div/div/nav/a[2]')
s_next_page.click()

In [50]:
s_next_page=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div[2]/div[12]/div/div/nav/a[4]')
s_next_page.click()

In [63]:
snekars=pd.DataFrame({'snekar_Brand':snekar_Brand,'snekar_ProductDescription':snekar_ProductDescription,'snekar_price':snekar_price})

In [64]:
snekars

,snekar_Brand,snekar_ProductDescription,snekar_price
0,HOTSTYLE,Sneakers For Men,₹296
1,HOTSTYLE,Sneakers For Men,₹398
2,asian,Sneakers For Men,₹822
3,Deals4you,Sneakers For Women,₹365
4,Sparx,SM-671 Sneakers For Men,₹658
...,...,...,...
95,CLYMB,Multi Print Sneakers For Men,₹499
96,ATOM,Grey Casual Sneakers Shoes for Mens (A9912) Sn...,"₹1,485"
97,Averatto,Sneakers For Men,₹791
98,EZDEZARIO,SM-322 Sneakers For Men,₹494
99,Sparx,none,₹959

#### Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
#### set CPU Type filter to “Intel Core i7” as shown in the below image
#### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
#### 1. Title
#### 2. Ratings
#### 3. Price

In [7]:
driver=webdriver.Chrome()

In [8]:
driver.get('https://www.amazon.in/')

In [10]:
serchl=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
serchl.send_keys('leptop')

In [11]:
ok=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
ok.click()

In [12]:
i7=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[8]/ul[7]/span[12]/li/span/a/div/label/i')
i7.click()

In [13]:
laptop_Title=[]

In [14]:
laptop_Ratings=[]

In [15]:
laptop_Price=[]

In [16]:
laptop_T=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')

In [17]:
for i in laptop_T[0:10]:
    bd=i.text
    laptop_Title.append(bd)

In [19]:
len(laptop_Title)

10

In [20]:
laptop_R=driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-normal-weight-text"]')

In [22]:
for i in laptop_R[0:10]:
    be=i.text
    laptop_Ratings.append(be)

In [24]:
len(laptop_Ratings)

10

In [25]:
laptop_P=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

In [28]:
for i in laptop_P[0:10]:
    bf=i.text
    laptop_Price.append(bf)

In [30]:
len(laptop_Price)

10

In [32]:
laptops=pd.DataFrame({'laptop_Title':laptop_Title,'laptop_Ratings':laptop_Ratings,'laptop_Price':laptop_Price})

In [33]:
laptops

,laptop_Title,laptop_Ratings,laptop_Price
0,"MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...",4.3,"66,990"
1,"ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...",4.0,"64,990"
2,"Dell Inspiron 5430 Laptop, Intel Core i7-1360P...",3.3,"86,490"
3,"MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...",4.2,"68,829"
4,"ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...",4.4,"1,15,990"
5,"ASUS Creator Series Vivobook 14X OLED (2023), ...",4.6,"89,990"
6,"ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...",4.0,"1,03,625"
7,"MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...",4.4,"54,990"
8,"HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...",3.5,"68,990"
9,"HP Pavilion 15, 13th Gen Intel Core i7-1360P, ...",3.8,"88,490"

 #### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
#### The above task will be done in following steps:
#### 1. First get the webpagehttps://www.azquotes.com/
#### 2. Click on TopQuotes
#### 3. Than scrap 
#### a) Quote 
#### b) Author 
#### c) Type Of Quotes

In [34]:
driver=webdriver.Chrome()

In [35]:
driver.get('https://www.azquotes.com/')

In [36]:
top_quotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [37]:
Quote=[]

In [38]:
Author=[]

In [39]:
type_Of_Quotes=[]

In [147]:
Quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')

In [148]:
for i in Quotes:
    bg=i.text
    Quote.append(bg)

In [149]:
len(Quote)                  # repited after evrey page

1000

In [150]:
Authors=driver.find_elements(By.XPATH,'//div[@class="author"]')

In [151]:
for i in Authors:
    bh=i.text
    Author.append(bh)

In [152]:
len(Author)                     # repited after evrey page

1000

In [153]:
toq=driver.find_elements(By.XPATH,'//div[@class="tags"]')

In [154]:
for i in toq:
    bi=i.text
    type_Of_Quotes.append(bi)

In [155]:
len(type_Of_Quotes)                         # repited after evrey page

1000

In [66]:
next_apage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[3]/a')
next_apage.click()            #page2

In [76]:
next_apage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[5]/a')
next_apage.click()         #page3

In [86]:
next_apage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[6]/a')
next_apage.click()         #page4

In [96]:
next_apage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[7]/a')
next_apage.click()         #page5

In [106]:
next_apage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[8]/a')
next_apage.click()         #page6

In [116]:
next_apage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[9]/a')
next_apage.click()         #page7

In [126]:
next_apage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[10]/a')
next_apage.click()         #page8

In [136]:
next_apage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[11]/a')
next_apage.click()         #page9

In [146]:
next_apage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
next_apage.click()         #page10

In [156]:
Quotes_of_All_Time=pd.DataFrame({'Quote':Quote,'Author':Author,'type_Of_Quotes':type_Of_Quotes})

In [157]:
Quotes_of_All_Time

,Quote,Author,type_Of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,deeep thought
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

#### Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
#### Term of office, Remarks) from https://www.jagranjosh.com/.
#### This task will be done in following steps:
#### 1. First get the webpagehttps://www.jagranjosh.com/
#### 2. Then You have to click on the GK option
#### 3. Then click on the List of all Prime Ministers of India
#### 4. Then scrap the mentioned data and make theDataFrame.

In [8]:
driver=webdriver.Chrome()

In [10]:
driver.get('https://www.jagranjosh.com/')

In [11]:
GK=driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div/div/div[3]/ul/li[3]/a')
GK.click()

In [13]:
GKPM=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[5]/a')
GKPM.click()

In [16]:
presedent_name=[]

In [55]:
 term_of_office=[]

In [18]:
psd=driver.find_elements(By.XPATH,'//td[@align="left"]')

In [19]:
for i in psd:
    ca=i.text
    presedent_name.append(ca)

In [21]:
len(presedent_name)

17

In [67]:
presedent=pd.DataFrame({'presedent_name':presedent_name})

In [68]:
presedent

                              presedent_name
0                            Rajendra Prasad
1                   Sarvepalli Radhakrishnan
2                              Zakir Hussain
3                 VV Giri (Acting President)
4   Mohammad Hidayatullah (Acting President)
5                                   V.V Giri
6                       Fakhruddin Ali Ahmed
7   Basappa Danappa Jatti (Acting President)
8                       Neelam Sanjiva Reddy
9                           Giani Zail Singh
10                            R Venkataraman
11                      Shankar Dayal Sharma
12                             K R Narayanan
13                           APJ Abdul Kalam
14                            Pratibha Patil
15                          Pranab Mukherjee
16                           Ram Nath Kovind

#### Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
#### Car name and Price) from https://www.motor1.com/
#### This task will be done in following steps:
#### 1. First get the webpage https://www.motor1.com/
#### 2. Then You have to type in the search bar ’50 most expensive cars’
#### 3. Then click on 50 most expensive carsin the world..
#### 4. Then scrap the mentioned data and make the dataframe

In [70]:
driver=webdriver.Chrome()

In [71]:
driver.get('https://www.motor1.com/')

In [87]:
search_car=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search_car.send_keys('50 most expensive cars')

In [88]:
submit1=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
submit1.click()

In [89]:
link_click=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
link_click.click()

In [90]:
CAR_NAME=[]

In [91]:
CAR_PRICE=[]

In [92]:
CAR_N=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')

In [93]:
for i in CAR_N[0:50]:
    cc=i.text
    CAR_NAME.append(cc)

In [95]:
len(CAR_NAME)

50

In [103]:
CAR_P=driver.find_elements(By.XPATH,'not found ')

In [104]:
for i in CAR_P:
    cx=i.text
    CAR_PRICE.append(cx)

In [105]:
CAR_PRICE

[]

In [106]:
top50=pd.DataFrame({'CAR_NAME':CAR_NAME})

In [107]:
top50

                              CAR_NAME
0                  Aston Martin Valour
1                         McLaren Elva
2                          Czinger 21C
3                        Ferrari Monza
4                   Gordon Murray T.33
5                    Koenigsegg Gemera
6                          Zenvo TSR-S
7                   Hennessey Venom F5
8                      Bentley Bacalar
9        Hispano Suiza Carmen Boulogne
10              Bentley Mulliner Batur
11                        Deus Vayanne
12                         SSC Tuatara
13                         Lotus Evija
14                 Aston Martin Vulcan
15                          Delage D12
16                 Ferrari Daytona SP3
17                   McLaren Speedtail
18                        Rimac Nevera
19                       Pagani Utopia
20                Pininfarina Battista
21                  Gordon Murray T.50
22                Lamborghini Countach
23            Mercedes-AMG Project One
24                        Zenvo Aurora
25                 Aston Martin Victor
26         Hennessey Venom F5 Roadster
27                    Koenigsegg Jesko
28               Aston Martin Valkyrie
29           W Motors Lykan Hypersport
30                       McLaren Solus
31                    Lamborghini Sian
32                    Koenigsegg CC850
33     Bugatti Chiron Super Sport 300+
34                  Lamborghini Veneno
35                      Bugatti Bolide
36           Pininfarina B95 Speedster
37                     Bugatti Mistral
38                 Pagani Huayra Imola
39                        Bugatti Divo
40                 SP Automotive Chaos
41                    Pagani Codalunga
42                        777 Hypercar
43            Mercedes-Maybach Exelero
44                  Bugatti Centodieci
45             Bugatti Chiron Profilée
46                Rolls-Royce Sweptail
47            Bugatti La Voiture Noire
48              Rolls-Royce Boat Tail*
49  Rolls-Royce La Rose Noire Droptail

In [109]:
driver.close()